i.fa-github,
i.fa-linkedin,
i.fa-graduation-cap,
i.fa-file,
i.fa-envelope {
    width: 15px;
}

/* i {
    margin-right: .5em;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

/* html {
    margin-bottom: 7em;
} */

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: .5em;
}

h3 {
    font-size: 1em;
    /* padding-bottom: 1em; */
}

h1,
h2,
h3 {
    font-weight: 100;
    margin-bottom: 0;
}

/* main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
} */

header {
    text-align: center;
    margin: auto 2em;
}

section {
    /* margin: auto 1em 4em 2em; */
    margin: auto 2em 2em 2em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}